.text-center {
    text-align: center;
    color: white;
  }
  
  .bg-red {
    background: red;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .text-center:hover {
    color: #94bdff;
  }
  .container1 {
    padding: 15px;
    width:150px;
    margin:auto;
    transition: all 0.2s;
    box-shadow: 0px 0.75px 2px #ffffff;
  }
  .container1:hover {
    box-shadow: 0px 8px 8px -5px #ffffff;
    transform: scale(1.03);
    color: #70a7ff;
  }